.home {
  width: 100%;
  width: 100%;
  overflow-y: auto;
}

.posts {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 4rem;
  @media screen and (max-width: 1000px) {
    padding-bottom: 5.5rem;
  }
}
