.bottom__bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: var(--dark-background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
