.icon__button {
  position: relative;
  font-size: 2.5rem;
  color: var(--white);
  border-radius: 50%;
  background-color: var(--dark-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px;
  &:hover {
    background-color: var(--dark-hover-color);
  }
}
