.link {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--white);
  width: fit-content;
  padding: var(--padding-xs) var(--padding-sm) var(--padding-xs)
    var(--padding-xs);
  border-radius: 8px;
  &:hover {
    background-color: var(--dark-hover-color);
    border: 1px solid var(--border-gray);
  }
}

.active__link {
  color: var(--green-teal);
}

.inactive__link {
}
