* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  --padding-xs: 1rem;
  --padding-sm: 1.5rem;
  --padding-md: 2rem;
  --padding-lg: 3rem;
  --border-radius-xs: 5px;
  --border-radius-sm: 2rem;
  --border-radius-lg: 5rem;
  --dark-hover-color: #0e1f33;
  --border-gray: #2d435e;
  margin: 0;
  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--dark-hover-color);
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px var(--green-teal);
    background-color: var(--green-teal);
  }
  scrollbar-color: var(--green-teal) var(--dark-hover-color);
}

.App {
  background-color: var(--dark-background-color);
  color: var(--white);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
